<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Loja</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <a href="/">Home</a>
            <a href="/cadastrodeproduto">Cadastrar Produto</a>
        </div>
        
    </nav>
   
    <div>
    {{{body}}}
    </div>
</body>
</html>